<div class="console-interface">
    

    <div class="cards">
        <div *ngFor="let preset of presetsService.getPresets()" class="card">
            <app-trigger [preset]="preset"></app-trigger>
        </div>
    </div>

</div>