@import "../../../variables.scss";


.console-interface {

    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100%;

    > div:first-child {
        flex-grow: 1;
    }

}


.cards {
    
    gap: 1rem 1rem;
    width: 100%;

    display: grid;
    grid-template-columns: 100%;

    @media ( min-width: 600px ) {
        $w: calc( 50% - 1rem );
        display: grid;
        grid-template-columns: $w $w;
    }

    @media ( min-width: 1400px ) {
        $w: calc( 33% - 1rem );
        grid-template-columns: $w $w $w;
    }
}


.card-item {
    margin-bottom: 1rem !important;
    box-sizing: border-box;
}