<div class="py-3">
    <a 
        mat-raised-button 
        routerLink="/console/bar" 
        class="mr-1 mb-1"
        [color]="isCurrent( '/console/bar' )"
    >Console</a>&nbsp;
    <button 
        type="button" 
        mat-raised-button 
        routerLink="/console/info" 
        class="mr-1 mb-1"
        [color]="isCurrent( '/console/info' )"
    >How it works</button>&nbsp;
    <button type="button" mat-raised-button class="mr-1 mb-1" (click)="onAdd()">Add new generator</button>
</div>