@import "../../../variables.scss";

.key {
    padding: .1rem .3rem;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 1.3rem;
    margin-right: .2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    color: white;

    > div {
        display: 100%;
        box-sizing: border-box;

        @media ( min-width: $bpplus ) {
            width: 50%;
            padding-right: 1rem;
        }

    }
}

.howto {

    li {
        padding-bottom: .2rem;
        padding-top: .2rem;
    }
}