<div>

    <h1 class="col-white">Blablátor</h1>

    <div class="grid">

        <div class="howto">

            <h2>How it works</h2>

            <ol>
                <li>The application consist of several generators.</li>
                <li>Every generator defines 
                    <ul>
                        <li>a complex set of rules for text generations</li>
                        <li>a keyboard key</li>
                    </ul>
                </li>
                <li>When a child presses one of defined keys, the robot will generate something and it will pronounce the result.</li>
                <li>Every generator's rules includes:
                    <ul>
                        <li>a Markov Chain dictionary that will be used</li>
                        <li>mode (word/sentence)</li>
                        <li>min & max length of the result</li>
                        <li>syllabes on which the result must start / end</li>
                    </ul>
                </li>
                <li>All generators specify also:
                    <ul>
                        <li>the voice</li>
                        <li>additional texts that may surround the result</li>
                    </ul>
    
                </li>
            </ol>

        </div>

        <div>

            <h2>Waht is that</h2>

            <p>Blablátor is an interactive exhibit for children. Basically, it is a robot with buttons - a robot that pronounces funny nonsense.</p>

            <p>Currently, the exhibit is presented as part of the exposition <a
                href="https://www.depo2015.cz/chystane-vystavy-ag109/lovci-znaku-a3852" target="_blank">Lovci
                znaků</a> at DEPO2015, Pilsen. </p>

            <p>Technically speaking, Blablátor:</p>
            <ul>
                <li>is written in Angular 2</li>
                <li>is bundled using Electron.js</li>
                <li>uses Markov Chains</li>
                <li>is controlled by Arduino</li>
                <li>communicates through serial port</li>
            </ul>
        </div>

    </div>
    

</div>