<mat-card class="trigger" [class.user]="preset.user">
    <div style="margin-left: 0 !important; margin-right: 0 !important;" class="mat-card-header-text__fix">
      <mat-card-title>{{preset.name}}</mat-card-title>
      <mat-card-subtitle style="margin-top: 1rem;">{{preset.description}}</mat-card-subtitle>
      <mat-card-subtitle style="margin-top: 1rem;">Hit <strong>{{preset.key}}</strong> key to run.</mat-card-subtitle>
      <mat-card-subtitle style="margin-top: 1rem;" *ngIf="preset.user">Custom generator.</mat-card-subtitle>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onClick()" [disabled]="presetService.isSpeaking">
        <mat-icon aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon>
      </button>
      <button routerLink="/console/edit/{{preset.key}}" mat-raised-button [disabled]="presetService.isSpeaking">
        <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
      </button>
      <button mat-raised-button (click)="onRemove()" [disabled]="presetService.isSpeaking">
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>