.mat-card-header-text{
    margin-left: 0rem;
    margin-right: 0rem;
}

.trigger {
    // width: percentage(1/3);
    background: white;
    &.user {
        background: lightgray;
    }
}

.mat-card-actions:not(.mat-card-actions-align-end) .mat-raised-button:first-child {
    margin-left: 8px;
    margin-right: 8px;
}