@import "../../../variables.scss";

.layout {

    width: 100vw;
    min-height: 100vh;

    display: flex;

    flex-direction: column;
    position: relative;

    box-sizing: border-box;

    &--item {
        flex-basis: 100%;
        flex-grow: 1;
        padding: 1rem;
        box-sizing: border-box;

        &--right--content {
            width: 100%;
            height: calc( 100% - 4rem );
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;

            >img {
                object-fit: contain;
                max-height: 100%;
                width: auto;
            }
        }
    }

    &--left {
        background-color: rgb(44, 44, 44);
        order: 0;
    }
    
    &--right {
        background-color: black;
        overflow: hidden;

        height: 30vh;

        order: 1;
        position: relative;

    }

    &--fabs {
        position: fixed;

        right: 1rem;
        bottom: 1rem;

        > button {
            margin-right: .5rem;
        }
    }

}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
  }

@media ( min-width: $bpplus ) {
    .layout {

        height: 100vh;
        flex-direction: row;

        &--item {

            flex-basis: 50%;
            flex-grow: 1;

            padding: 3rem;
    
            box-sizing: border-box;
            overflow: auto;

        }
    
        &--left {
            // order: 0;
            padding-bottom: 1rem;
        }
        
        &--right {
            // order: 1;
            height: 100vh;
        }

    }
}

.switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    padding: 1rem 0;
    position: relative;

    @media ( max-width: $bp ) {
        display: none;
    }

    >span {
        display: inline-block;
        padding: 0 .5rem;
        transition: all .3s ease-in-out;

        &.inactive {
            opacity: .5;
        }
    }


}