<div class="layout">

  <div class="layout--item layout--left">

    <app-navigation></app-navigation>

    <div [@nestedTransitions]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="layout--item layout--right">

    <div class="switcher">
      <span [class.inactive]="youSee">Robot looks at you</span>
      <mat-slide-toggle [(ngModel)]="youSee" color="primary">
      </mat-slide-toggle>
      <span [class.inactive]="!youSee">You look at robot</span>
    </div>

    <div class="layout--item--right--content">
      <app-webcam *ngIf="!youSee" (click)="toggleVision()" style="cursor:pointer"></app-webcam>
      <img *ngIf="youSee" src="assets/blablator.png" (click)="toggleVision()" style="cursor:pointer">
    </div>
  </div>

  <div class="layout--fabs">
    <button mat-fab color="primary" aria-label="Show the intro sequence" routerLink="/intro">
      <mat-icon>info</mat-icon>
    </button>

    <button mat-fab color="primary" aria-label="Show the console" routerLink="/console">
      <mat-icon>touch_app</mat-icon>
    </button>

    <button mat-fab color="primary" aria-label="add a generator" (click)="presets.addPreset()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>