<div class="screen" >

    <div class="screen-content">

        <h1 class="screen-title" [@screenTransitions]>{{title}}</h1>

        <div class="screen-description" [@screenTransitions]>
            <ng-content></ng-content>
        </div>

        <button mat-raised-button color="primary" [routerLink]="nextLink">{{nextText}}</button>

    </div>

    <div class="progress">
        <div [@progress] class="progress-slider"></div>
    </div>

</div>