.screen {

    position: relative;

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background: black;
    color: white;

}

.screen-content {

    padding: 1rem;
    // padding-bottom: 2rem;

    height: calc( 100vh - 1rem );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: 2rem;

}

.screen-title {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.screen-description {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.progress {
    height: 1rem;
    width: 100%;

    position: absolute;
    bottom: 0px;
    left: 0px;
}

.progress-slider {

    position: relative;
    top: 0px;
    left: 0px;

    height: 1rem;
    
    content: "";

    background: white;

}
