@import "./variables.scss";

@debug $primary;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media ( min-width: $bp ) {

    .w-10 {
        box-sizing: border-box;
        width: calc( 10% - 1rem);
    }
    
    .w-20 {
        box-sizing: border-box;
        width: calc( 20% - 1rem);
    }
    
    .w-33 {
        box-sizing: border-box;
        width: calc( 33.333% - 1rem);
    }
    
    .w-50 {
        box-sizing: border-box;
        width: calc( 50% - 1rem);
    }
    
    .w-100 {
        width: 100%;
    }

}



.mr-1 {
    display: inline-block; 
    margin-right: .5rem;
}

.mb-1 {
    display: inline-block; 
    margin-bottom: .5rem !important;
}

.bg-white {
    background-color: white;
}

.col-white {
    color: white;
}

.p-3 {
    padding: 1rem;
}

.py-3 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}


body > video {
    // display: none !important;
    position: absolute;
    top: -999px;
    left: -999px;
}