.form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    > * {
        margin-right: 1rem;
    }

}

.section {
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 1rem;
    background-color: white;
}

