<h1 style="color: white">Customise generator {{preset.name}}</h1>

<p style="color: white" >In the following tabs, you can change all parameters of this generator.</p>


<mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Identification
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Edit base properties of the generator.</p><p>Most important is the key property. On the <a routerLink="/console">intro screen</a>, press the given key to trigger this generator.</p>

      <div class="form">

        <mat-form-field class="w-10">

            <mat-label>Key</mat-label>
            <input matInput [(ngModel)]="preset.key">

        </mat-form-field>

        <mat-form-field class="w-33">

            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="preset.name">

        </mat-form-field>

        <mat-form-field class="w-50">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="preset.description">
        </mat-form-field>

    </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dictionary
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Generators work with pre-trained Markov chains. Each of those is pre-trained on appropriate source texts. Example: list of animal names, english newspapers, czech newspapers.</p>

        <div class="form">
        <mat-form-field>

            <mat-label>Dictionary</mat-label>
            <mat-select [value]="preset.dictionary" (selectionChange)="dictionarySelected($event)">
                <mat-option *ngFor="let d of dectionaries.getDictionariesArray()" [value]="d">{{d.id}}</mat-option>
            </mat-select>

        </mat-form-field>

        <mat-form-field>

            <mat-label>Mode</mat-label>
            <mat-select [value]="preset.command.mode" (selectionChange)="modeSelected($event)">
                <mat-option [value]="1">Word</mat-option>
                <mat-option [value]="2">Sentence</mat-option>
            </mat-select>

        </mat-form-field>


        <div>
            <h3>Preview of the selected dictionary - generator will simulate this text:</h3>
            <div>{{preset.dictionary.texts.join(" ")|slice:0:1000}} ... </div>
        </div>

    </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Generator settings
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Markov Chain produces {{preset.getMode()}}s until the result matches the following criteria.</p>

        <div class="form">

            <mat-form-field class="w-20">
    
                <mat-label>Min length of {{preset.getMode()}}</mat-label>
                <input matInput [(ngModel)]="preset.command.minLength" type="number" min="0">
        
            </mat-form-field>
        
            <mat-form-field class="w-20">
        
                <mat-label>Max length of {{preset.getMode()}}</mat-label>
                <input matInput [(ngModel)]="preset.command.maxLength" type="number" min="1">
        
            </mat-form-field>
        
            <mat-form-field *ngIf="preset.command.mode === modes.WORD" class="w-100 py-3">
                <mat-label>Starts on</mat-label>
                <mat-chip-list #startGrid aria-label="Enter start on">
                    <mat-chip *ngFor="let item of startOn.internal" (removed)="chipRemove(item, startOn, $event)"
                        (edited)="chipEdit(item, startOn)">
                        {{item.name}}
                        <button matChipRemove [attr.aria-label]="'remove ' + item">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="New syllab..." [matChipInputFor]="startGrid"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="chipAdd($event, startOn)" />
                </mat-chip-list>
                <mat-hint>The generated word will start on one of the syllabs above.</mat-hint>
            </mat-form-field>
        
            <mat-form-field *ngIf="preset.command.mode === modes.WORD" class="w-100 py-3">
                <mat-label>Ends on</mat-label>
                <mat-chip-list #endGrid aria-label="Enter start on">
                    <mat-chip *ngFor="let item of endOn.internal" (removed)="chipRemove(item, endOn, $event)"
                        (edited)="chipEdit(item, endOn)">
                        {{item.name}}
                        <button matChipRemove [attr.aria-label]="'remove ' + item">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="New syllab..." [matChipInputFor]="endGrid"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                        (matChipInputTokenEnd)="chipAdd($event, endOn)" />
                </mat-chip-list>
                <mat-hint>The generated word will end on one of the syllabs above.</mat-hint>
            </mat-form-field>
    
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Output postprocessing
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>The generator result may be processed before it is pronounced. You may also pick a voice.</p>
        <div class="form">

            <mat-form-field class="w-50">
        
                <mat-label>Output mask</mat-label>
                <input matInput [(ngModel)]="preset.postprocess.mask">
                <mat-hint>Place the [result] in a string.</mat-hint>
        
            </mat-form-field>
    
            <mat-form-field class="w-50">
    
                <mat-label>Voice</mat-label>
                <mat-select [value]="preset.voice" (selectionChange)="voiceSelected($event)">
                    <mat-option *ngFor="let voice of presets.voices" [value]="voice">{{voice.name}}</mat-option>
                </mat-select>
    
            </mat-form-field>
    
            <div class="py-3">
    
                <mat-slide-toggle [(ngModel)]="preset.postprocess.upperFirst" color="primary">Upper first</mat-slide-toggle>
    
                <mat-slide-toggle [(ngModel)]="preset.postprocess.lowerFirst" color="primary">Lower first</mat-slide-toggle>
    
            </div>
    
        </div>
      </mat-expansion-panel>

  </mat-accordion>

<div class="py-3">
    <a mat-flat-button color="primary" routerLink="/console" class="mr-1 mb-1">Back to the list</a>&nbsp;
    <button type="button" mat-flat-button color="primary" (click)="do()" class="mr-1 mb-1" [disabled]="presets.isSpeaking">Pronounce current setup</button>
</div>